Repository symbiote/node: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docker-build-6.14, docker-build-8.11, docker-build-10.6

docker-build-6.14:
  image: docker:19.03.12
  stage: build
  services:
  - docker:19.03.12-dind
  before_script:
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  script:
  - cd 6.14
  - docker build --pull -t "$CI_REGISTRY_IMAGE:$CI_COMMIT_REF_SLUG" .
  ...

docker-build-8.11:
  image: docker:19.03.12
  stage: build
  services:
  - docker:19.03.12-dind
  before_script:
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  script:
  - cd 8.11
  - docker build --pull -t "$CI_REGISTRY_IMAGE:$CI_COMMIT_REF_SLUG" .
  ...

docker-build-10.6:
  image: docker:19.03.12
  stage: build
  services:
  - docker:19.03.12-dind
  before_script:
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  script:
  - cd 8.11
  - docker build --pull -t "$CI_REGISTRY_IMAGE:$CI_COMMIT_REF_SLUG" .
  ...

(WIP) testing the 'only' syntax
  .gitlab-ci.yml
  6.14/build.sh
Due: docker-build-6.14

(WIP) testing the only behaviour
  .gitlab-ci.yml
Due: none

(WIP) Testing the only changes
  .gitlab-ci.yml
  6.14/build.sh
Due: docker-build-6.14

(WIP) Workgng with image names and registry paths.
  .gitlab-ci.yml
  6.14/build.sh
Due: docker-build-6.14

(WIP) Testing image naming convention
  .gitlab-ci.yml
  6.14/build.sh
Due: docker-build-6.14

(WIP) Force back to local registry
  .gitlab-ci.yml
  6.14/build.sh
Due: docker-build-6.14

(feat) trigger build for each sub-build
  .gitlab-ci.yml
  10.16/build.sh
  6.14/build.sh
  8.11/build.sh
Due: docker-build-6.14, docker-build-8.11

(fix) incorrect version for only
  .gitlab-ci.yml
  10.16/build.sh
Due: none

(feat) add new versions
  12.10/Dockerfile
  12.10/build.sh
  12.18/Dockerfile
  12.18/build.sh
Due: none

(feat) add missing versions
  .gitlab-ci.yml
  12.18/Dockerfile
  Dockerfile
  build.sh
Due: none

(fix) gitlab-ci template formatting
  .gitlab-ci.yml
Due: none

(fix) versioning for 12.18
  .gitlab-ci.yml
Due: none

(WIP) 12.18 changes
  .gitlab-ci.yml
Due: none

(feat) add rules for 12.18 build exclusions
  .gitlab-ci.yml
Due: none

(feat) add dockerhub integration
  .gitlab-ci.yml
Due: none

(fix) tag images for docker hub push
  .gitlab-ci.yml
Due: none

doc(readme) Updated notes on creating new node versions
  readme.md
Due: none

Added node versions 14.17 and 16.8
  .gitlab-ci.yml
  14.17/Dockerfile
  14.17/build.sh
  16.8/Dockerfile
  16.8/build.sh
Due: none

clean up of build.sh files
  12.10/build.sh
  12.18/build.sh
  14.17/build.sh
  16.8/build.sh
  6.14/build.sh
  8.11/build.sh
  build.sh
Due: docker-build-6.14, docker-build-8.11

Added WORKDIR to Dockerfiles for versions 14.17 and 16.8
  14.17/Dockerfile
  16.8/Dockerfile
Due: none

Set root build file to build latest
  build.sh
Due: none

Fix failing latest build
  Dockerfile
  build.sh
Due: none

Deprecate Node 6.14
  .gitlab-ci.yml
  6.14/Dockerfile
  6.14/build.sh
Due: docker-build-6.14

deprecate 8.11
  .gitlab-ci.yml
  8.11/Dockerfile
  8.11/build.sh
Due: docker-build-8.11

sec(yarn) update yarn to latest 1.22.17
  10.16/Dockerfile
  12.10/Dockerfile
  12.18/Dockerfile
  14.17/Dockerfile
  16.8/Dockerfile
  Dockerfile
Due: none

new(node) Added create-react-app to base node image
  16.8/Dockerfile
  Dockerfile
Due: none

feat(yarn) set yarn policy set-version
  12.18/Dockerfile
  14.17/Dockerfile
  16.8/Dockerfile
Due: none

feat(node) add 18.16 node version chore(gitlabCI) update docker version for builds
  .gitlab-ci.yml
  18.16/Dockerfile
  18.16/build.sh
Due: none

Path conditions:
  docker-build-6.14: any of: 6.14/**/*
  docker-build-8.11: any of: 8.11/**/*
  docker-build-10.6: any of: 10.6/**/*
